*{
    padding: 0;
    margin: 0;
}

.container{
    background : linear-gradient(#febf00,#f0e8cc);
    display: flex;
    min-height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 250px;
    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow:#383838 5px 5px 35px 1px;
    
}

.london,.tehran{
width: 80px;
}