*{
    padding: 0;
    margin: 0;
}

.container{
    background : url(./img/back.jpg) no-repeat ;
    display: flex;
    min-height: 100vh;
}

.box{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 250px;
    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow:#383838 5px 5px 35px 1px;
    backdrop-filter: blur(5px);
    
}

.london,.tehran{
}

.cities{

   padding: 1rem 0 ; 
}

.cities button{
border: none;
outline: none;
padding: .5rem;
font-size: 1rem;
margin: 0 1rem;
background-color: transparent;
outline: 1px solid rgba(255, 255, 255, 0.453);
cursor: pointer;
color: #fff;

}

.cities button:hover{
    outline: 1px solid rgb(104, 104, 104);
    color: #383838;
}